.profileContentWrapper {
  padding: 2rem 0;
  background-color: #f0f0f0;
}

.profilecontactContainer {
  max-width: 80%;
  margin: 0 auto;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  line-height: 1.7;
}

/* Heading styling */
.pageHeading {
  font-size: 3rem;
  color: #333;
  margin-bottom: 2.5rem;
  text-align: center;
  font-weight: bold;
}

/* Styling for the introductory section */
.introSection {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  text-align: left;
}

.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  border: 3px solid #ddd;
}

.introText {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  background-color: #e9ecef;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Styling for profile sections */
.profileContent {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.cardContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card h2 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 10px;
}

.card p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

/* Styling for profile actions */
.profileActions {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
  justify-content: center;
}

.deleteAccountBtn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteAccountBtn:hover {
  background-color: #b30000;
}

.logoutBtn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutBtn:hover {
  background-color: #1b1b1b;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .introSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .profilePicture {
    margin-bottom: 1rem;
  }

  .profileContent {
    flex-direction: column;
    gap: 1rem;
  }

  .card {
    max-width: 100%;
  }

  .pageHeading {
    font-size: 2.5rem;
  }

  .introText {
    font-size: 1rem;
  }
}
